.additional__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.additional__item {
  width: 280px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-top: 1px solid $border-color-catalog;
  padding: 12px 0 19px 0;
}

.additional__item:last-child {
  border-bottom: 1px solid $border-color-catalog;
}

.additional__title {
  @include additional-title;
  margin: 0;
  grid-column: 1 / 3;
  margin-bottom: 13px;
}

.additional__size {
  @include additional-text;
  text-align: left;
  margin: 0;
  grid-column: 1 / 2;
  margin-bottom: 15px;
}

.additional__price {
  @include additional-text;
  text-align: right;
  margin: 0;
  grid-column: 2 / 3;
  margin-bottom: 15px;
}

.additional__button {
  grid-column: 1 / 3;
  padding: 10px 0;
}

// tablet

@media (min-width: $tablet-width) {
  .additional__list {
    border: 1px solid $border-color-catalog;
  }

  .additional__item {
    justify-content: center;
    width: 708px;
    display: grid;
    grid-template-columns: 212px 329px 91px;
    border-top: none;
    border-bottom: 1px solid $border-color-catalog;
    padding: 26px 0 28px 0;
  }

  .additional__item:last-child {
    border-bottom: none;
  }

  .additional__title {
    @include additional-title-tablet;
    margin: 0;
    grid-column: 1 / 2;
    margin-bottom: 25px;
  }

  .additional__size {
    @include additional-text-tablet;
    text-align: right;
    margin: 0;
    grid-column: 2 / 3;
    padding: 2px 0;
  }

  .additional__price {
    @include additional-text-tablet;
    text-align: right;
    margin: 0;
    grid-column: 3 / 4;
    padding: 2px 0;
  }

  .additional__button {
    grid-column: 1 / 4;
    padding: 10px 0;
  }
}

//  desktop

@media (min-width: $desktop-width) {
  .additional__list {
    border: none;
  }

  .additional__item {
    width: 896px;
    display: grid;
    grid-template-columns: 289px 1fr 44px 244px;
    column-gap: 38px;
    border-bottom: none;
    border-top: 1px solid $border-color-catalog;
    padding: 14px 0 17px 0;
  }

  .additional__item:last-child {
    border-bottom: 1px solid $border-color-catalog;
  }

  .additional__title {
    grid-column: 1 / 2;
    margin: 0;
    padding: 10px 0;
  }

  .additional__size {
    grid-column: 2 / 3;
    padding: 13px 0 7px 0;
    text-align: left;
  }

  .additional__price {
    grid-column: 3 / 4;
    padding: 13px 0 7px 0;
    text-align: left;
  }

  .additional__button {
    grid-column: 4 / 5;
    padding: 7px 0;
  }
}
