.base-group {
  border: none;
}

.base-group__list {
  list-style-type: none;
}

.base-group__label {
  color: $form-text-first;
  @include data-form-text;
}

.base-group__description {
  color: $form-text-second;
  @include data-form-text;
}

.base-group__input {
  color: $form-text-first;
  @include data-form-text;
}
