.card-options {
  margin: 0;
  grid-column: 2 /3;
}

.card-options__weight {
  @include catalog-card-options;
  text-align: left;
  padding: 0;
}

.card-options__value {
  @include catalog-card-options;
  text-align: right;
  padding: 0;
}

.card-options__taste {
  @include catalog-card-options;
}

.card-options__price {
  @include catalog-card-options;
}

// tablet

@media (min-width: $tablet-width) {
  .card-options__information {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $border-color-catalog;
    padding: 7px 0 7px 0;
  }

  .card-options__weight {
    @include catalog-card-options-tablet;
    width: 120px;
  }

  .card-options__value {
    @include catalog-card-options-tablet;
    width: 120px;
  }

  .card-options__taste {
    @include catalog-card-options-tablet;
  }

  .card-options__price {
    @include catalog-card-options-tablet;
  }
}

// desktop

@media (min-width: $desktop-width) {
  .card-options__information {
    padding: 6px 0 6px 0;
  }

  .card-options__weight {
    width: 84px;
  }

  .card-options__value {
    width: 84px;
  }
}
