.catalog-additional-wrapper {
  width: 280px;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .catalog-additional-wrapper {
    width: 708px;
  }
}

@media (min-width: $desktop-width) {
  .catalog-additional-wrapper {
    width: 1220px;
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding-bottom: 81px;
  }
}
