.catalog-gift__description {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  font-family: "Arial", sans-serif;
  background-color: rgba(104, 183, 56, 0.85);
  color: $color-text-first;
}
