.comments-group {
  position: relative;
  border: none;
  padding: 0;
  width: 280px;
  margin: 0 auto;
}

.comments-group__title {
  @include form-group-title;
  text-transform: none;
  display: inline-block;
  padding: 0 22px 0 758px;
  margin: 0 0 36px -758px;
  background-color: #ffffff;
}

.comments-group__textarea {
  @include data-form-text;
  width: 250px;
  height: 130px;
  color: $form-text-first;
  padding: 9px 15px;
  margin: 0;
  border: 1px solid $input-color;

  &:hover {
    outline: 1px solid $border-color-catalog;
  }

  &:focus {
    outline: 2px solid $form-text-first;
  }
}

// tablet

@media (min-width: $tablet-width) {
  .comments-group {
    width: 630px;
    margin: 0 auto;
    padding-bottom: 40px;
  }

  .comments-group__title {
    @include form-group-title-tablet;
    padding: 0 36px;
    margin: 0 0 77px -36px;
  }

  .comments-group__textarea {
    font-size: 20px;
    line-height: 30px;
    width: 590px;
    height: 154px;
    padding: 9px 20px;
  }
}

@media (min-width: $desktop-width) {
  .comments-group {
    width: 1220px;
    margin: 0 auto;
  }

  .comments-group__textarea {
    width: 1160px;
  }
}
