.contacts__title {
  @include product-title;
  color: $form-text-third;
  width: 140px;
}

.contacts__text {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  font-family: $Arial;
  color: $form-text-first;
  margin: 0;
  width: 140px;
}

// tablet

@media (min-width: $tablet-width) {
  .contacts__title {
    @include product-title-tablet;
    color: $form-text-third;
    min-width: 159px;
    padding-left: 40px;
  }

  .contacts__text {
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    font-family: $Arial;
    color: $form-text-first;
    margin: 0;
    min-width: 159px;
    text-align: right;
    padding-right: 40px;
  }
}

// desktop

@media (min-width: $desktop-width) {
  .contacts__container {
    position: relative;
    width: 1220px;
    margin: 0 auto;
  }

  .contacts__title {
    padding-left: 0;
    width: 163px;
  }

  .contacts__text {
    padding-right: 0;
    text-align: left;
    width: 155px;
  }
}
