.contacts__title {
  @include product-title;
  color: $form-text-third;
  width: 140px;
}

.contacts__text {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  font-family: $Arial;
  color: $form-text-first;
  margin: 0;
  width: 140px;
}

// tablet

@media (min-width: $tablet-width) {
  .contacts__title {
    @include product-title-tablet;
    color: $form-text-third;
  }

  .contacts__text {
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    font-family: $Arial;
    color: $form-text-first;
    margin: 0;
  }
}

// desktop

@media (min-width: $desktop-width) {
  .contacts__container {
    position: relative;
    width: 1220px;
    margin: 0 auto;
  }
}
