.custom-checkbox {
  position: absolute;
  width: 28px;
  height: 28px;
  border: 1px solid $border-color-catalog;
  background-color: $base-color;
}

.extra-group__input:disabled + .custom-checkbox {
  border: 1px solid $color-disabled;
}

.extra-group__input:hover + .custom-checkbox {
  border: 1px solid $radio-hover;
}

.extra-group__input:focus + .custom-checkbox {
  border: 1px solid $form-text-first;
}

@media (min-width: $tablet-width) {
  .custom-checkbox {
    width: 38px;
    height: 38px;
  }
}
