.data-form__button {
  @include button;
  font-size: 16px;
  line-height: 20px;
  cursor: pointer;

  &:hover {
    background-color: $button-order-color;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }
}

.data-form__required {
  font-size: 14px;
  line-height: 16px;
  font-family: $Arial;
  font-weight: 400;
}
