.example {
  margin: 0;
  padding: 0;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.example__description {
  @include index-text;
  margin: 0;
  padding-bottom: 20px;
}

.example__stats-list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 31px;

  .example__wrapper-weight {
    border: 1px solid $border-color-catalog;
    border-radius: 3px;
    position: relative;
    width: 124px;
  }

  .example__wrapper-time {
    border: 1px solid $border-color-catalog;
    border-radius: 3px;
    position: relative;
    width: 124px;
  }
}

.example__amount {
  @include product-title-desktop;
  color: $color-text-second;
  text-align: center;
  margin: 0;
  padding: 15px 0 17px 0;
}

.example__value {
  font-family: $Arial;
  font-size: 12px;
  line-height: 12px;
  font-weight: 400;
  color: $form-text-first;
  text-align: center;
  margin: 0;
  position: absolute;
  width: 77px;
  background-color: $third-color;
  top: 46px;
  left: 25px;
}

.example__result {
  display: flex;
  justify-content: center;
  font-family: $Oswald;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  margin-top: 10px;

  .example__info {
    margin: 0;
  }

  .example__price {
    margin: 0;
  }
}

// tablet

@media (min-width: $tablet-width) {
  .example {
    z-index: 2;
  }

  .example__description {
    @include index-text-tablet;
    padding-bottom: 54px;
  }

  .example__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 80px;
  }

  .example__stats-list {
    margin: 0;

    .example__wrapper-weight {
      width: 162px;
      margin: 0 42px 0 0;
    }

    .example__wrapper-time {
      width: 162px;
      margin: 0;
    }
  }

  .example__amount {
    font-size: 30px;
    line-height: 37px;
  }

  .example__result {
    display: block;
    text-align: right;
    font-family: $Oswald;
    font-size: 20px;
    line-height: 20px;
    font-weight: 400;
    text-transform: uppercase;
    margin: 0;
  }

  .example__info {
    padding-top: 12px;
  }

  .example__price {
    padding-top: 10px;
  }

  .example__value {
    width: 129px;
    top: 60px;
    left: 9px;
    font-size: 14px;
    line-height: 14px;
    padding: 0 7px;
    background-color: $base-color;
  }
}

// desktop

@media (min-width: $desktop-width) {
  .example {
    width: 436px;
  }

  .example__description {
    padding-top: 95px;
  }

  .example__wrapper {
    display: block;
  }

  .example__info {
    padding-top: 0;
  }

  .example__price {
    padding-top: 0;
  }

  .example__stats-list {
    justify-content: flex-start;
    padding-bottom: 60px;
    padding-top: 16px;

    .example__wrapper-weight {
      margin: 0 38px 0 0;
    }
  }

  .example__value {
    top: 63px;
    background-color: $second-color;
  }

  .example__result {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;

    .example__info {
      margin: 0 66px 0 0;
    }
  }
}
