.extra-group {
  border: none;
  margin: 0;
  padding: 0;
}

.extra-group__title {
  @include form-group-title;
  text-transform: none;
}

.extra-group__item {
  margin-bottom: 12px;
}

.extra-group__label {
  display: flex;
  cursor: pointer;
}

.extra-group__input[type="checkbox"]:checked + .custom-checkbox {
  background-image: url("../img/checkbox-mark.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.extra-group__description {
  @include data-form-text;
  color: $color-text-second;
  padding: 7px 0 5px 46px;
}

.extra-group__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.data-form__button {
  padding: 7px 64px;
}

// tablet

@media (min-width: $tablet-width) {
  .extra-group__wrapper {
    display: grid;
    grid-template-columns: 282px 283px;
    column-gap: 61px;
    row-gap: 22px;
  }

  .extra-group {
    grid-column: 1 / 3;
  }

  .data-form__button {
    grid-column: 1 / 2;
    padding: 13px 45px;
  }

  .data-form__required {
    grid-column: 2 / 3;
  }

  .extra-group__list {
    display: flex;
    flex-wrap: wrap;
  }

  .extra-group__item {
    width: 282px;
    margin-bottom: 32px;
  }

  .extra-group__item:nth-of-type(2n) {
    margin-left: 61px;
  }

  .extra-group__description {
    @include data-form-text-tablet;
    color: $color-text-second;
    padding: 5px 0 5px 59px;
  }
}

@media (min-width: $desktop-width) {
  .extra-group__wrapper {
    display: grid;
    grid-template-columns: 284px 285px 284px 284px;
  }

  .extra-group {
    grid-column: 1 / 5;
  }

  .data-form__button {
    grid-column: 1 / 3;
    padding: 13px 45px;
  }

  .data-form__required {
    grid-column: 3 / 5;
  }

  .extra-group__list {
    display: flex;
    flex-wrap: wrap;
  }

  .extra-group__item {
    width: 282px;
    margin: 0;
  }
}
