.extra-group {
  border: none;
}

.extra-group__title{
  @include form-group-title
}

.extra-group__description {
  color: $color-text-second;
  @include data-form-text;
}

.extra-group__list {
  list-style-type: none;
}
