.line-catalog {
  margin-top: 25px;
  position: relative;
}

.line-catalog::before {
  content: "";
  position: absolute;
  top: 1.3%;
  height: 2px;
  width: 100%;
  background-color: $first-color;
  z-index: -1;
}

@media (min-width: $tablet-width) {
  .line-catalog {
    margin-top: 19px;
    position: relative;

    &::before {
      top: 2%;
    }
  }
}

@media (min-width: $desktop-width) {
  .line-catalog {
    margin-top: 0;

    &::before {
      top: 5%;
    }
  }
}
