.line-catalog {
  margin-top: 20px;
  position: relative;
}

.line-catalog::before {
  content: "";
  position: absolute;
  top: 1.3%;
  height: 2px;
  width: 100%;
  background-color: $first-color;
  z-index: -1;
}

@media (min-width: $tablet-width) {
  .line-catalog::before {
    top: 2%;
  }
}

@media (min-width: $desktop-width) {
  .line-catalog::before {
    top: 5%;
  }
}
