.main-header {
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .main-header {
    display: flex;
    justify-content: space-between;
    width: 708px;
    padding-top: 25px;
  }
}

@media (min-width: $desktop-width) {
  .main-header {
    width: 1220px;
  }
}
