.main-header {
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .main-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 708px;
    padding: 42px 20px;
  }
}

@media (min-width: $desktop-width) {
  .main-header {
    width: 1220px;
  }
}
