.main-nav {
  width: auto;
  display: none;
}

@media (min-width: $tablet-width) {
  .main-nav {
    width: 440px;
    display: flex;
    align-items: center;
  }
}

@media (min-width: $desktop-width) {
  .main-nav {
    width: 483px;
  }
}
