
//  form.html
.main-container {
  border-top: 1px solid $border-color-catalog;
}

.main-container__wrapper {
  width: 280px;
  margin: 0 auto;
}

.main-container__head {
  padding: 26px 0 18px 0;
}

.main-container__title-form {
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  margin: 0 0 37px 0;
}

.main-container__description-form {
  display: block;
  width: 226px;
  margin: 0;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
}

//  index, catalog

.main-container__title-index {
  width: 250px;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  margin-top: 27px;
  margin-bottom: 25px;
}

.main-container__title-catalog {
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  margin-top: 27px;
  margin-bottom: 42px;
}

.main-container__description {
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0;
}

.main-container__description-index {
  margin-bottom: 300px;
}

//  tablet

@media (min-width: $tablet-width) {
  .main-container {
    border-top: none;
  }

  .main-container__wrapper {
    width: 631px;
    margin: 0 auto;
  }

  .main-container__head {
    padding: 0 0 47px 0;
  }

  .main-container__title-catalog {
    font-size: 60px;
    line-height: 60px;
    font-weight: 400;
    border: none;
    margin-top: 0;
    margin-bottom: 91px;
  }

  .main-container__title-index {
    font-size: 60px;
    line-height: 60px;
    font-weight: 400;
    border: none;
    width: 416px;
    margin: 0 0 41px 0;
  }

  .main-container__title-form {
    font-size: 60px;
    line-height: 60px;
    font-weight: 400;
    border: none;
    margin-bottom: 61px;
  }

  .main-container__description {
    font-size: 20px;
    line-height: 20px;
    font-weight: 400;
    text-transform: uppercase;
  }

  .main-container__description-index {
    margin-bottom: 49px;
  }

  .main-container__description-form {
    display: block;
    width: 323px;
    margin: 10px 0 0 2px;
    font-size: 20px;
    line-height: 20px;
  }
}

// desktop

@media (min-width: $desktop-width) {
  .main-container__head {
    padding: 0 0 70px 0;
  }

  .main-container__wrapper {
    width: 1220px;
  }

  .main-container__title {
    width: 433px;
    margin-bottom: 90px;
  }

  .main-container__title-form {
    margin-bottom: 60px;
  }

  .main-container__description-index {
    margin-bottom: 55px;
  }
}
