.process {
  margin: 26px 0 0 0;
}

.process__wrapper {
  width: 280px;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .process {
    margin: 50px 0 0 -75px;
  }

  .process__wrapper {
    width: 633px;
  }
}

@media (min-width: $desktop-width) {
  .process {
    margin: 71px 0 0 0;
    border: none;
  }

  .process__wrapper {
    width: 1220px;
  }
}
