.process-item__description {
  @include index-text;
  margin: 26px 0 0 0;
}

@media (min-width: $tablet-width) {
  .process-item__description {
    @include index-text-tablet;
    margin: 32px 0 0 0;
  }
}

@media (min-width: $desktop-width) {
  .process-item__description {
    margin: 32px 0 0 0;
  }
}
