.program-item {
  width: 280px;
  background-color: $second-color;
  padding: 21px 20px 18px 20px;
}

.program-item:not(:first-child) {
  margin: 20px 0 0 0;
}

.program-item__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
}

.program-item__title {
  margin: 0;
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  font-family: $Oswald;
  text-transform: uppercase;
  padding-bottom: 29px;
  padding-left: 69px;
}

.program-item__wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: $first-color;
}

.program-item__illustration-svg--thin {
  position: absolute;
  top: -4px;
  left: 7px;
}

.program-item__illustration-svg--fat {
  position: absolute;
  top: 10px;
  left: -11px;
}

.program-item__description {
  @include index-text;
  margin: 0;
  padding-bottom: 23px;
  border-bottom: 1px solid $border-color;
}

.program-item__button {
  color: $color-text-second;
  text-decoration: none;
  font-size: 16px;
  line-height: 16px;
  align-self: flex-start;
  padding-top: 15px;
  text-transform: uppercase;
}

// tablet

@media (min-width: $tablet-width) {
  .program-item {
    width: 634px;
    padding: 77px 62px 53px 52px;
  }

  .program-item:not(:first-child) {
    margin-top: 30px;
  }

  .program-item__wrapper {
    align-items: flex-start;
  }

  .program-item__title {
    font-size: 36px;
    line-height: 36px;
    padding-bottom: 24px;
    padding-left: 0;
  }

  .program-item__wrapper::before {
    right: 0;
    left: initial;
    width: 200px;
    height: 200px;
  }

  .program-item__illustration-svg--thin {
    top: -5px;
    left: 434px;
    width: 140px;
    height: 194px;
  }

  .program-item__illustration-svg--fat {
    top: 32px;
    left: 348px;
    width: 268px;
    height: 112px;
  }

  .program-item__description {
    @include index-text-tablet;
    width: 340px;
    border-bottom: none;
    padding-bottom: 52px;
  }

  .program-item__button {
    font-size: 20px;
    line-height: 29.64px;
  }
}

// desktop

@media (min-width: $desktop-width) {
  .program-item {
    width: 459px;
    padding: 41px 51px 55px 52px;
  }

  .program-item:not(:first-child) {
    margin: 0;
  }

  .program-item:nth-child(odd) {
    margin-right: 80px;
  }

  .program-item__wrapper::before {
    left: 0;
    width: 100px;
    height: 100px;
  }

  .program-item__illustration-svg--thin {
    top: -3px;
    left: 20px;
    width: 70px;
    height: 97px;
  }

  .program-item__illustration-svg--fat {
    top: 24px;
    left: -18px;
    width: 134px;
    height: 56px;
  }

  .program-item__title {
    padding: 10px 10px 73px 162px;
  }

  .program-item__description {
    width: 467px;
  }
}
