.range {
  padding: 40px 0;
  align-self: center;
}

.range__bar {
  background-color: $third-color;
  display: flex;
  align-items: center;
}

.range__scale {
  margin: 0;
  display: none;
}

.range__progress {
  position: relative;
  width: 72px;
  height: 6px;
  border: 1px solid $border-color-catalog;
  border-radius: 6px;
  background-color: $base-color;
  padding: 4px 6px;
  margin: 0 13px;
}

.range__toggle {
  border: none;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  font-family: $Oswald;
  text-transform: uppercase;
  color: $color-text-second;
  padding: 0;
  cursor: pointer;
}

.range__toggle--current {
  position: absolute;
  width: 35px;
  height: 6px;
  border-radius: 6px;
  background-color: $button-order-color;
}

// tablet

@media (min-width: $tablet-width) {
  .range {
    padding: 0 0 59px 0;
  }

  .range__progress {
    width: 426px;
    height: 6px;
    border: 1px solid $border-color-catalog;
    border-radius: 6px;
    background-color: $color-range;
    padding: 0;
    margin: 0 23px;
  }

  .range__toggle {
    @include data-form-text-tablet;
  }

  .range__scale {
    position: relative;
  }

  .range__toggle--current {
    position: absolute;
    width: 33px;
    height: 33px;
    border-radius: 50%;
    background-color: $base-color;
    left: 214px;
    top: -15px;

    &::before {
      content: "";
      position: absolute;
      top: 13px;
      left: 13px;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: $first-color;
    }
  }
}

@media (min-width: $desktop-width) {
  .range {
    padding: 0;
    align-self: flex-end;
  }

  .range__toggle {
    @include data-form-text-tablet;
  }

  .range__toggle--min,
  .range__toggle--max {
    background-color: $second-color;
  }

  .range__bar {
    background-color: $second-color;
  }
}
