.range {
  padding: 42px 0;
  align-self: center;
}

.range__bar {
  background-color: $third-color;
  display: flex;
  align-items: center;
  padding: 21px 35px 0;
}

.range__scale {
  margin: 0;
  display: none;
}

.range__progress {
  position: relative;
  width: 72px;
  height: 6px;
  border: 1px solid $border-color-catalog;
  border-radius: 6px;
  background-color: $base-color;
  padding: 4px 6px;
  margin: 0 21px;
}

.range__toggle {
  border: none;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  font-family: $Oswald;
  text-transform: uppercase;
  color: $color-text-second;
  padding: 0;
  cursor: pointer;
}

.range__toggle--min,
.range__toggle--max {
  &:hover {
    background-color: $third-color;
  }
}

.range__toggle--current {
  position: absolute;
  width: 35px;
  height: 6px;
  border-radius: 6px;
  background-color: $button-order-color;
}

// tablet

@media (min-width: $tablet-width) {
  .range {
    padding: 0 0 59px 0;
    z-index: 2;
  }

  .range__progress {
    width: 423px;
    height: 6px;
    border: 1px solid $border-color-catalog;
    border-radius: 6px;
    background-color: $color-range;
    padding: 0;
    margin: 0 23px;
  }

  .range__toggle {
    @include data-form-text-tablet;
    position: relative;
  }

  .range__toggle--min,
  .range__toggle--max {
    padding-bottom: 6px;
    border-bottom: 1px dotted rgba(0, 0, 0, 0.4);

    &:hover {
      border-bottom: 1px rgba(0, 0, 0, 0.4);
    }
  }

  .range__toggle--current {
    position: absolute;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background-color: $base-color;
    left: 208px;
    top: -15px;
    border: 1px solid $border-color-catalog;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);

    &:hover {
      background-color: $base-color;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }

    &:active {
      border: 1px solid $first-color;
    }

    &::before {
      content: "";
      position: absolute;
      top: 12px;
      left: 12px;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: $first-color;
    }
  }

  .range__scale {
    position: relative;
  }

  .range__bar {
    padding: 35px 0 0 0;
  }
}

// desktop

@media (min-width: $desktop-width) {
  .range {
    padding: 0;
    position: absolute;
    top: -41px;
    right: 0;
  }

  .range__toggle {
    @include data-form-text-tablet;
  }

  .range__toggle--current {
    left: 201px;
    top: -13px;
  }

  .range__toggle--min,
  .range__toggle--max {
    background-color: $second-color;

    &:hover {
      background-color: #f2f2f2;;
    }
  }

  .range__bar {
    background-color: $second-color;
    padding: 30px 0 0 0;
  }

  .range__progress {
    width: 423px;
    height: 6px;
    border: 1px solid $border-color-catalog;
    border-radius: 6px;
    background-color: $color-range;
    padding: 0;
    margin: 0 31px;
  }
}
