// Colors

$color-text-first: #ffffff;
$color-text-second: #000000;

$form-text-first: #444444;
$form-text-second: #222222;
$form-text-third: #111111;

$base-color: #ffffff;
$first-color: #68b738;
$second-color: #f2f2f2;
$third-color: #eaeaea;
$fourth-color: #000000;

$input-color: #e7e7e7;
$border-color: #d9d9d9;
$border-color-catalog: #cdcdcd;
$border-color-burger: #e6e6e6;
$border-color-invalid: #ff8282;
$border-color-cross: #d3d3d3;
$color-range: #dcdcdc;
$radio-hover: #bababa;
$color-disabled: rgba(186, 186, 186, 0.3);
$radio-disabled-inside: rgba(104, 183, 56, 0.3);


//  button

$button-order-color: #5eaa2f;
$button-shore-more-color: #ebebeb;

//  icon

$icon-color: #666666;
$icon-color-hover: #68b738;
$icon-color-invalid: #ff8282;
$icon-color-active: rgba(104, 183, 56, 0.3);

// Fonts

$Oswald: "Oswald", "Arial", sans-serif;
$Arial: "Arial", sans-serif;

// Viewports

$mobile-width-only: 320px;
$tablet-width: 768px;
$desktop-width: 1440px;

// Mixin mobile

@mixin index-text {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  font-family: "Arial", sans-serif;
  color: #444444;
}

@mixin data-form-text {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
}

@mixin form-group-title {
  font-size: 24px;
  line-height: 26px;
  font-weight: 400;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  color: #000000;
}

@mixin button {
  background-color: #68b738;
  text-transform: uppercase;
  color: #ffffff;
  border: none;
  text-decoration: none;
}

@mixin product-title {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  color: #222222;
}

@mixin catalog-card-options {
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  font-family: "Arial", sans-serif;
  color: #444444;
}

@mixin additional-title {
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  color: #222222;
}

@mixin additional-text {
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  font-family: "Arial", sans-serif;
  color: #444444;
}

// Mixin tablet

@mixin index-text-tablet {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  font-family: "Arial", sans-serif;
  color: #444444;
}

@mixin product-title-tablet {
  font-size: 20px;
  line-height: 26px;
  font-weight: 400;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  color: #222222;
}

@mixin catalog-card-options-tablet {
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  font-family: "Arial", sans-serif;
  color: #444444;
}

@mixin additional-title-tablet {
  font-size: 20px;
  line-height: 20px;
  font-weight: 400;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  color: #222222;
}

@mixin additional-text-tablet {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  font-family: "Arial", sans-serif;
  color: #444444;
}

@mixin data-form-text-tablet {
  font-size: 20px;
  line-height: 29.64px;
  font-weight: 400;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
}

@mixin form-group-title-tablet {
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  font-family: "Oswald", sans-serif;
  color: #000000;
}

// Mixin desktop

@mixin product-title-desktop {
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  color: #222222;
}

@mixin catalog-card-options-desktop {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  font-family: "Arial", sans-serif;
  color: #444444;
}
